[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mugithi
[access "refs/for/refs/*"]
	read = group user/mugithi
	push = group user/mugithi
	label-Code-Review = -2..+2 group user/mugithi
	label-Verified = -1..+1 group user/mugithi
	rebase = group user/mugithi
	removeReviewer = group user/mugithi
	submit = group user/mugithi
[access "refs/heads/*"]
	read = group user/mugithi
	create = group user/mugithi
	push = +force group user/mugithi
	pushMerge = group user/mugithi
[access "refs/tags/*"]
	push = group user/mugithi
	push = +force group user/mugithi
